.container {
    display: flex;

}


a {
  font-weight: bold;
  text-decoration: none;
  padding: 2px 1px 0;
}

.btn-primary  {
    background-color: dodgerblue;
    color: black;
}

.ex {
    width:100%;
    display:flex;
    justify-content:space-between;
    float: right;
}

.ar {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    background-color: wheat;
    min-height: 100vh;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
}

.footer {
    margin-bottom: 0;
    background-color: #343a40;
    height: 50px;
    color: #aaaaaa;
}

.r {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    background-color: wheat;
    min-height: 100vh;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
}