{% extends "base.html" %}
{% load static %}


{% block content %}
  <div class="container">
  <div class="row">
    <div class="col-sm-3" style="scroll-margin-left: inherit">

      <h5 style="color: white">Place for your advertisement </h5>
      <div class="fakeimg"  style="background-color: wheat">$$$</div>

      <h3>Contact Us</h3>

      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="https://www.linkedin.com/in/kirill-dragomiretsky-8a7036256/">LinkedIN</a>
        </li>
        <br>
        <li class="nav-item">
          <a class="nav-link active" href="https://t.me/KeyReach">Telegram</a>
        </li>
      </ul>
      <br>
      <div class="ex">
        <a style="color: white" href="https://minfin.com.ua/currency/">Exchange rate<img src="{% static 'images/ex.jpg' %}" width="250px" height="200" alt="ex"></a>
      </div>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-9">
      <h2>'Trump, MAGA allies threaten democracy': US President Biden hits out at Republicans</h2>
      <h5>Dec 7, 2022</h5>

      <img src="{% static 'images/obeme.jpg' %}" width="650px" height="400" alt="obeme">

      <p>U.S. President Joe Biden warned Thursday night that "equality and democracy are under assault" in the U.S. as he sounded an alarm about his predecessor, Donald Trump, and "MAGA Republican" adherents, labelling them an extremist threat to the nation and its future. Aiming to reframe the November elections as part of a battle for the nation's soul - "the work of my presidency," Biden used his prime-time speech at Independence Hall in Philadelphia to argue that Trump and "Make America Great Again" allies are a challenge to nation's system of government, its standing abroad and its citizens' way of life.</p>
      <br>
      <h2>Russian Military Rout in Ukraine has Major Implications for the MENA Region</h2>
      <h5>Sep 2, 2022</h5>
      <img src="{% static 'images/ukr.jpeg' %}" width="650px" height="400" alt="ukr">
      <p>As the Russian army continues its chaotic retreat, questions are being asked, opportunities being examined as Putin’s warrior image takes a heavy beating.</p>
    </div>
  </div>
</div>

  <div class="jumbotron text-center" style="margin-bottom:0">
  <h4>©Kirill Drago</h4>
  </div>

{% endblock %}