{% extends "base.html" %}

{% block content %}
  <div class="ar">
  <h1>Our Redactors</h1>
  <a href="{% url 'catalog:redactor-create' %}" style="float: right" class="btn btn-primary link-to-page">
      Create
  </a>
  {% if redactor_list %}
    <table class="table" style="font-size: larger">
    <tr>
          <th>Full name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Years of experience</th>
    </tr>
      {% for redactor in redactor_list %}
        <tr>
        <td>
          <a href="{% url 'catalog:redactor-detail' pk=redactor.id %}"> {{ redactor.first_name }} {{ redactor.last_name }}</a>
          {% if redactor.id == user.id %}(Me){% endif %}
        </td>
        <td>{{ redactor.username }}</td>
        <td>{{ redactor.email }}</td>
        <td>{{ redactor.years_of_experience }}</td>
        </tr>
      {% endfor %}
     </table>
  {% else %}
    <p>There are no redactors</p>
  {% endif %}
  {% block pagination %}
    {% include "includes/pagination.html" %}
  {% endblock %}
  </div>
{% endblock %}