{% extends "base.html" %}

{% block content %}
  <h1>Our Redactors</h1>
  <a href="{% url 'catalog:redactor-create' %}" style="float: right" class="btn btn-primary link-to-page">
      Create
  </a>
  {% if redactor_list %}
    <ul>
      {% for redactor in redactor_list %}
        <li>
          <a href="{% url 'catalog:redactor-detail' pk=redactor.id %}"> {{ redactor.first_name }} {{ redactor.last_name }}</a>
          {% if redactor.id == user.id %}(Me){% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no redactors</p>
  {% endif %}

{% endblock %}