{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="ar">
  <h1>Topics List</h1>
  <a class="btn btn-primary" style="float: right"  href="{% url 'catalog:topic-create' %}">Add New Topic</a>

  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
      <input type="submit" class="btn btn-secondary" value="🔎">
  </form>

  {% if topic_list %}
    <table class="table">
      {% for topic in topic_list %}
        <tr><td>
          <strong style="font-size: x-large">{{ topic.name }}</strong>
        <a class="btn btn-primary" href="{% url 'catalog:topic-update' pk=topic.pk %}" style="float: right">Update</a>
    <a class="btn btn-danger" href="{% url 'catalog:topic-delete' pk=topic.pk %}" style="float: right">Delete</a>
        </td></tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no topics</p>

  {% endif %}
  {% block pagination %}
    {% include "includes/pagination.html" %}
  {% endblock %}

  </div>
{% endblock %}